<header>
    <nav style="border-style: center;">
        <h1><a href="/">My First Fullstack Website.</a></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user">Users</a></li>
            <li><a href="/author">All authors</a></li>
            <li><a href="/author/new">Author New</a></li>
        </ul>
    </nav>
</header>